#sadacharam{
    color: rgb(183, 234, 31);
    font-size: 30px;
    background-color: green;
    font-style: normal;
    width: 44%;
    padding: 15px;
    border-radius: 15px; /* Added this line to make the border radius curved */
    margin: 100px;
    text-align: center;
    margin-top: 60px;
  }
  #sadacharamlogo{
      height: 100px;
      width: 100px;
     background-image: url(../);
  }
  #sadacharamcontents{
      font-size: 20px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-style: normal;
      margin-top: -150px;
      margin-left: 80px;
      
  }
  /* Add this CSS to your stylesheet */
  #sadacharamcontents h3 {
    
    margin-bottom: 20px; /* Adjust the value as needed for desired spacing */
  }
  
  #images{
      width: -100px;
      height: 100px;
  }
  .sadacharam-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
    }
    
    .sadacharam-content {
      flex: 1;
      padding: 20px;
    }
    
    .sadacharam-slider {
      flex: 1;
      max-width: 50%;
      margin-top: 100px;
      margin-right: -20px;
      border-radius: 60px;
      scroll-behavior: smooth;
   
    }
  
    .sadacharam-slider img {
      width: 100%;
      border-radius: 60px;
      height: 500px; /* Maintain aspect ratio */
      max-height: 400px; 
      scroll-behavior: smooth;
    }
    #sadacharampara{
      /* font-weight: 300px;
      font-family:  'Open Sans', sans-serif;
      margin: 100px;
      margin-bottom: 0px;
      text-align: justify;
      text-justify: inter-word;
      line-height: 160%; */
  
      font-weight: 300px;
      font-size: 24px;
      font-family:  'Open Sans', sans-serif;
        margin: 120px;
      margin-bottom: 0px;
      text-align: justify;
  text-justify: inter-word;
  line-height: 160%;
      
    }
    #sadacharamimg1{
      box-shadow: 1px  10px 10px 30px rgb(165, 165, 179);
       background-image: url(../Facilities/slide3.png);
       height: 400px;
       width: 800px;
       background-size: 800px;
       background-repeat: no-repeat;
     }
     #sadacharamimg2{
       box-shadow: 1px  10px 10px 30px rgb(165, 165, 179);
        background-image: url(../Facilities/slide2.png);
        height: 400px;
        width: 800px;
        background-size: 800px;
        background-repeat: no-repeat;
      }
      #sadacharamimg{
        box-shadow: 1px  10px 10px 30px rgb(165, 165, 179);
         background-image: url(../Facilities/slide5.png);
         height: 100px;
         width: 800px;
         background-size: 800px 100px;
         background-repeat: no-repeat;
       }