
#yogapara {
  font-size: 24px;
  font-weight: 300; /* Use numerical values for font-weight */
  font-family: 'Open Sans', sans-serif;
  margin: 100px;
  margin-bottom: 0px;
  text-align: justify;
  text-justify: inter-word;
}

/* Responsive styles for tablets and smaller devices */
@media (max-width: 768px) {
  #yogapara  {
      font-size: 20px; /* Adjust font size for tablets */
      margin: 50px; /* Reduce margins */
  }
}

/* Responsive styles for mobile devices */
@media (max-width: 480px) {
  #yogapara  {
      font-size: 16px; /* Further reduce font size for mobile devices */
      margin: 20px; /* Further reduce margins */
  }
}
#yogaimg{
  width: 140%; /* Ensures images take the full width of the slider container */
  height: 700px;
  background-repeat: no-repeat;
}
#img2{
  height: 400px;
  width: 500px;
  margin-left: 150px;
}
#img3{
  height: 400px;
  width: 500px;
  float: left;
  margin-left: 30px;
}
