#yogapara {
  font-size: 24px;
  font-weight: 300; /* Use numerical values for font-weight */
  font-family: 'Open Sans', sans-serif;
  margin: 100px;
  margin-bottom: 0px;
  text-align: justify;
  text-justify: inter-word;
}

/* Responsive styles for tablets and smaller devices */
@media (max-width: 768px) {
  #yogapara  {
      font-size: 20px; /* Adjust font size for tablets */
      margin: 50px; /* Reduce margins */
  }
}

/* Responsive styles for mobile devices */
@media (max-width: 480px) {
  #yogapara  {
      font-size: 16px; /* Further reduce font size for mobile devices */
      margin: 20px; /* Further reduce margins */
  }
}

.image-container {
  text-align: center; /* Center the image horizontally */
  margin: 0 auto; /* Center container horizontally */
}

.image-container img {
  max-width: 100%; /* Ensure image scales down to fit container */
  height: auto; /* Maintain aspect ratio */
}

#img2{
  height: 400px;
  width: 500px;
  margin-left: 150px;
}
#img3{
  height: 400px;
  width: 500px;
  float: left;
  margin-left: 30px;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
  #img2, #img3 {
    width: 400px;
    height: 300px;
    margin-left: 50px;
  }
}

@media (max-width: 768px) {
  #img2, #img3 {
    width: 300px;
    height: 250px;
    margin-left: 0;
    float: none;
  }
}

@media (max-width: 480px) {
  #img2, #img3 {
    width: 100%;
    height: auto;
    margin-left: 0;
    float: none;
  }
}

@media (max-width: 320px) {
  #img2, #img3 {
    width: 100%;
    height: auto;
    margin-left: 0;
    float: none;
  }
}

