#Transport{
    color: rgb(183, 234, 31);
    font-size: 30px;
    background-color: green;
    font-style: normal;
    width: 39%;
    padding: 15px;
    border-radius: 15px; /* Added this line to make the border radius curved */
    margin: 100px;
    text-align: center;
    margin-top: -60px;
    
  }
  #Transportlogo{
      height: 100px;
      width: 100px;
     background-image: url(../);
  }
  #Transportcontents{
      font-size: 20px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-style: normal;
      margin-top: -50px;
      margin-left: 100px;
      
  }
  /* Add this CSS to your stylesheet */
  #Transportcontents h3 {
    margin-bottom: 20px; /* Adjust the value as needed for desired spacing */
  }
  
  #images{
      width: -100px;
      height: 100px;
  }
  .Transport-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      margin-top: 170px;
    }
    
    .Transport-content {
      flex: 1;
      padding: 20px;
      margin-top: -100px;
    }
    
    .Transport-slider {
      /* flex: 1;
      max-width: 50%;
      margin-top: 10px;
      margin-right: -40px;
    */
    flex: 1;
    max-width: 50%;
    margin-top: -100px;
    margin-right: -20px;
    border-radius: 60px;
    scroll-behavior: smooth;
 
    }
  
    .Transport-slider img {
      /* width: 100%;
      border-radius: 60px;
      height: 500px; /* Maintain aspect ratio */
      /* max-height: 400px; 
      margin-right: -40px;  */
      width: 100%;
      border-radius: 60px;
      height: 500px; /* Maintain aspect ratio */
      max-height: 400px; 
      scroll-behavior: smooth;
    }
    .Transportpara{
      font-weight: 300px;
      font-size: 24px;
      font-family:  'Open Sans', sans-serif;
        margin: 100px;
        margin-top: 60px;
      margin-bottom: 0px;
      text-align: justify;
  text-justify: inter-word;
  line-height: 160%;
    }
    #transimg1{
      box-shadow: 1px  10px 10px 30px rgb(165, 165, 179);
      background-image: url(./transimg4.jpg);
      height: 400px;
      width: 800px;
      background-size:  800px 400px;
      background-repeat: no-repeat;
    }
  