.enquiry-form-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid aqua;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: moccasin;
  }
  h1{
    color: blue;
  }
  
  .enquiry-form-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .enquiry-form .form-group {
    margin-bottom: 15px;
  }
  
  .enquiry-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .enquiry-form input[type="text"],
  .enquiry-form input[type="tel"],
  .enquiry-form input[type="email"],
  .enquiry-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .enquiry-form input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .enquiry-form textarea {
    resize: vertical;
  }
  
  .enquiry-form .submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .enquiry-form .submit-button:hover {
    background-color: #0056b3;
  }
  