.sp {
    font-size: 30px;
  
  }
  .oil1 {
    text-align: justify;
    text-justify: inter-word;
    margin: 100px;
    font-size: 24px;
    margin-top: 40px;
  }
  .oil2{
    font-size: 20px;
   margin-left: -440px;
    
  }
  #sp1{
    font-size: 20px;
    margin: 100px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 160%;
  }
  #mc{
    float: right;
    margin-top: -230px;
  }
  ol {
    font-size: 22px;
    list-style-type: decimal; /* Ensures the list uses numbers */
    margin: 0;
    margin-left: 100px;
    margin-top: -30px;
    padding-left: 20px; /* Adds space to the left of the list */
  }
  
  li {
    margin-bottom: 10px; /* Adds space between list items */
  }
  
  
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .sp {
      font-size: 35px; /* Adjust font size for medium screens */
    }
  }
  
  @media (max-width: 480px) {
    .sp {
      font-size: 25px; /* Adjust font size for small screens */
    }
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .oil1 {
      font-size: 30px; /* Adjust font size for medium screens */
      margin-left: 15px; /* Adjust margin for medium screens */
    }
  }
  
  @media (max-width: 480px) {
    .oil1 {
      font-size: 20px; /* Adjust font size for small screens */
      margin-left: 10px; /* Adjust margin for small screens */
    }
  }
    