/* #phipara{
    font-weight: 300px;
    font-family:  'Open Sans', sans-serif;
    margin-right: 80px; 
    margin-bottom: 0px;
    text-align: right;
    width: 40%;
}  */
.sp{
    font-size: 45px;
}
.oil1{
    margin-left: 20px;
    font-size: 40px;
}