
#i1{
   margin-top: 50px;
    font-size: 30px;
    margin-left: 5px;
  
  }
  #i2{
    background-image: url(./gmap1.jpg);
    height: 500px;
    width: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0%;
  }
  #i3{
    color: red;
    font-size: 30px;
    margin-top: -500px;
    margin-left: 1100px;
    /* float: right; */

  }
  #i4{
  color: blue;
   
  }
  #i7{
   color: black;
    font-style: normal;
   font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: -20px;
    margin-left: -10px;
    line-height: 180%;
  }
  /* ContactUs.css */

form {
max-width: 500px;
margin: 20px auto;
padding: 20px;
border: 1px solid #ccc;
border-radius: 5px;
background-color: #f9f9f9;
}
#kcf{
margin-top: 100px;
 
}

.form-group {
margin-bottom: 15px;
}

label {
display: block;
margin-bottom: 5px;
font-weight: bold;
}

input, textarea {
width: 100%;
padding: 8px;
box-sizing: border-box;
border: 1px solid #ccc;
border-radius: 4px;
}

textarea {
resize: vertical;
height: 100px;
}

button {
display: inline-block;
padding: 10px 20px;
font-size: 16px;
color: black;
background-color: #007bff;
border: none;
border-radius: 4px;
cursor: pointer;
}

button:hover {
background-color: #0056b3;
}
