.Header{
    display: flex;
    background-color: orange;
}
.section1{
    height: 200px;
    margin: 5px;
    margin-left:70px;
}
.image{
  margin-top: 30px;
  height: 80px;
  width: 90px;
  margin-left: -31px;
  margin-top: 46px;
  border-radius: 55px;
  
}
.image6{
  height: 99px;
  margin-top: 40px;
  background-image: url(./logocandle.png);
  border-radius: 50px;
  
}


/* #position
{
  position: relative;
  top: 0;
  width: 240%;
 margin-top: -30px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-size: 1.2rem;
} */
.subtitles {
  display: flex;
  color: blue;
  font-size: 20px;
  justify-content: center; /* Center horizontally */
  align-items: center;    /* Center vertically */
}

.inline-text {
  white-space: nowrap;    /* Prevent wrapping */
}

/* .subtitles{
 margin: 10px;
  color: blue;
  font-size: 20px;
 margin-right: 80px;
} */
.subbar{
  color: brown;
  /* margin-top: -10px; */
}
.sub1{
  /* margin-top: -0px; */
  color: green;
}
.clgCode{
    color: red;
    margin-left: 150px;
    /* margin-top: -20px; */
}
.section2{
   
    align-content:center;
    align-items:center;
    display:inline-flex;
    column-gap: 10px;
    
}
.title{
    border: 1px solid black;
    padding: 5px;
    width: auto;
    background-size:cover;
    color:gray;
}

.section3{
    flex-direction: column;
    display: flex;
    margin-left: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-content: center;
    margin-top: 20px;
    padding: 30px;
}
.code{
    color: red;
}
.subheader{
    border: 1px solid white;
    background-color: blue;
    height: 30px;
    color: whitesmoke;
    align-items: center;
    text-align: center;
    column-gap: 20px;;
    
}
.type{
    padding:30px;
    width: auto;
}
.type:hover{
    background-color: chocolate;
    width: 10px;
    
}
/* #position{
  position: fixed;
 
} */

.navbar1 {
    overflow: hidden;
    background-color: lightsteelblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    display: flex;
    gap: 10px;
   display: flex;
   justify-content: center;
  }
  
  .navbar1 a {
    float: left;
    font-size: 16px;
    color: rgb(7, 7, 7);
    text-align: center;
    padding: 14px 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
  }
  .navbar2 {
    overflow: hidden;
    background-color: lightsteelblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    display: flex;
    gap: 10px;
   display: flex;
   justify-content: center;
  }
  
  .navbar2 a {
    float: left;
    font-size: 16px;
    color: rgb(7, 7, 7);
    text-align: center;
    padding: 14px 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
  }
  .navbar3 {
    overflow: hidden;
    background-color: lightsteelblue;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    display: flex;
    gap: 10px;
   display: flex;
   justify-content: center;
  }
  
  .navbar3 a {
    float: left;
    font-size: 16px;
    color: rgb(7, 7, 7);
    text-align: center;
    padding: 14px 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  #home{
    font-size: 18px;
    color: rgb(15,13,13);
    margin: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: -40px;  
  }
  #contactus{
    font-size: 18px;
    color: rgb(15,13,13);
    margin: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: -40px;  
  }
  #donate{
    font-size: 18px;
    color: rgb(15,13,13);
    margin: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: -40px;  
  }
  
  
  
  .dropdown .dropbtn {
    font-size: 18px;  
    border: none;
    outline: none;
    color: rgb(15, 13, 13);
    padding: 14px 16px;
    background-color: inherit;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
  }
  
  .navbar1 a:hover, .dropdown:hover .dropbtn {
    background-color: chocolate;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
  }
  
  .dropdown-content a:hover {
    background-color:lightsalmon;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .marquee{
    text-align: center;
    color: antiquewhite;
    background-color: darkblue;
    padding: 12px 16px;
  
  }
  .title{
    background-color: whitesmoke;
    text-align:left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
   
  }
  .welcomeTitle{

  }
  .t{
    text-align: center;
  }
  .t1{
    margin-top: 3%;
    text-align: left;
    display: flex;
    flex-direction: row;
  }
  .t2{
    width: 250%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .container{
    margin-top: 2%;
    padding: 10px 10px 10px 10px;
    margin-right: 4%;
  }
  .sectwo{
    width: 100%;
  }
  .bar{
    text-align: center;
    background-color: blue;
    color: whitesmoke;
    padding: 12px 16px;
    background-image: url(./Assets/back\ img.jpg);
    background-size: cover;
    background-position: center;    
  }
  .d{
    background-color: skyblue;
    width: 400px;
    height: 210px;
    margin:0px;
    margin-top: -110px;
    text-align: center;
    padding: 12px 16px;
  }
  .design{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  .color{
    background-color: blue;  
    color: whitesmoke;
    justify-content:left;
    display: flex;
    
  }
  .line{
    background-color: brown;
  }
  .a{
    background-color: aquamarine;
    width: 400px;
    height: 210px;
    margin: 0px;
    margin-top: -110px;
  }
  #a2{
    margin: 100px;
    height: 400px;
    width: 100px;
    background-image: url(./Assets/Digital-Classrooms.png);
    background-size: cover;
    margin-left: 150px;
  }
  .b{
    background-color: darkgoldenrod;
    width: 400px;
    height: 210px;
    margin: -190px;
    float: left;
    background-size: cover;
    margin-left: 550px;
  }
  #b2{
    background-image:url(./Assets/Games-Sports.png) ;
    margin: -275px;
    height: 100px;
    width: 100px;
    float: left;
    background-size: cover;
    margin-left: 690px;
  }
  .c{
    background-color: lightpink;
    width: 400px;
    height: 210px;
    margin: -151px;
    float:left ;
    background-size: cover;
    margin-left: 550px;
  }
  #c2{
    background-image: url(./Assets/IT-LAB-Technology-Lab.png);
    margin: -230px;
    height: 100px;
    width: 100px;
    float: left;
    background-size: cover;
    margin-left: 690px;
    margin-bottom: -10px;
  }
  .d{
    background-color: aqua;
    width: 400px;
    height: 210px;
    margin: 0px ;
    margin-top: -110px;
  }
  #d2{
    margin: 100px;
    height: 100px;
    width: 100px;
    background-image: url(./Assets/LABORATORIES.png);
    background-size: cover;
    margin-left: 150px;
  }
 .mainElement{
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  margin-top: 50px;
 }
  .subElement{
    background-color: #70CAC7;
    height: 300px;
    width: 306.4px;
    margin: 0px 0px 0px 0px;
    padding: 25px 25px 25px 25px;
    color:whitesmoke;
    
  }
  .subspace{
    text-align: center;
  }
  .subElement1{
    background-color: #979435;
    height: 300px;
    width: 306.4px;
    margin: 0px 0px 0px 0px;
    padding: 25px 25px 25px 25px;
    color: whitesmoke;
  }
  .img{
    margin-bottom: -80PX;
    margin-inline: 43px;
    margin-block-start: -26px;
  }
  .subElement2{
    background-color: #732F22;
    height: 300px;
    width: 306.4px;
    margin: 0px 0px 0px 0px;
    padding: 25px 25px 25px 25px;
    color:whitesmoke;
  }
  .subElement3{
    background-color: #995073;
    height: 300px;
    width: 306.4px;
    margin: 0px 0px 0px 0px;
    padding: 25px 25px 25px 25px;
    color:whitesmoke;
  }
  .subElement4{
    background-color:#2776BC ;
    height: 300px;
    width: 306.4px;
    margin: 0px 0px 0px 0px;
    padding: 25px 25px 25px 25px;
    color:whitesmoke;
  }
  .subElement5{
    background-color: #F54461;
    height: 300px;
    width: 306.4px;
    margin: 0px 0px 0px 0px;
    padding: 25px 25px 25px 25px;
    color:whitesmoke;
    

  }
  .element{
    height: auto;
    max-width: 100px;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
  
  /* .subElement{
    background-color: black;
    justify-content: center;
    text-align: center;
    height: 300px;
    width: 300px;
    margin: 20px 20px 20px 20px;
    margin-top: 20px;
    display: inline-grid;
  } */
  .image02{
    border-radius: 70px;
    margin-left: -30px;
    background-image: url(./logocandle.png);
  }
  .c12{
    text-align: center;
  }
  .con1{
    background-size: cover;
  }
  .dropdown01 {
    float: left;
    overflow: hidden;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    
  }
  .v1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: aqua;
    padding: 20px;
  }
  .v2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: lightslategrey;
    padding: 20px;
    color: whitesmoke;
    font-size: 20px;
    width: 70%;
  }
  #v12{
    color: blue;
  }
  #v11{
    font-size: 20px;
  }
  #c1{
    color: limegreen;
  }
  .i{
    background-image: url(../assets/Executive\ committee\ list.JPG);
    background-size: cover;
    height: 500px;
    width: 400px;
    background-position: 100%;
   float: left;
   margin-left: 560px;

  }
  .v3{
    text-align: end;
    
  }
  .c1{
    text-align: center;
  }
  


.l1{
  float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}


