#of{
    font-weight: 300px;
    font-size: 24px;
    font-family:  'Open Sans', sans-serif;
      margin-left: 120px;
    margin-right: 120px;
    margin-top: 50px;
    text-align: justify;
text-justify: inter-word;
}