/* Sdp.css */

#sdp {
  text-align: center;
  color: blue;
  font-size: 36px;
}
#ch1 {
  color: blue;
  margin-left: 83px;
  font-size: 30px;
}

@media (max-width: 1200px) {
  #ch1 {
    margin-left: 70px;
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  #ch1 {
    margin-left: 60px;
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  #ch1 {
    margin-left: 50px;
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  #ch1 {
    margin-left: 40px;
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  #ch1 {
    margin-left: 30px;
    font-size: 12px;
  }
}

#sdppara {
 
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  margin: 100px;
  margin-bottom: 0px;
  text-align: justify;
  margin-top: 25px;
  text-justify: inter-word;
  line-height: 160%;
}

.custom-list {
  font-weight: 300;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  /* list-style-type: none; */
  padding-left: 20px;
  margin: 40px 50px; /* Adjust margin for better spacing */
}

.custom-list li {
  position: relative;
  margin-bottom: 10px;
}

.custom-list li::before {
  content: '•';
  position: absolute;
  left: -15px;
  color: black;
}
#sdpimgs {
  width: 100%;
}

#sdpimgs img {
  height: auto;
  width: 100%;
  max-width: 1200px; /* Ensures the image doesn't exceed its original size */
}

@media (max-width: 768px) {
  #sdpimgs img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 480px) {
  #sdpimgs img {
    width: 100%;
    height: auto;
  }
}

table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  border: 2px solid black; 
}

th, td ,tr {
  padding: 10px;
  text-align: left;
  font-size: 1rem;
  border: 2px solid black; /* Black border for table cells */
}




/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  #sdp {
    font-size: 28px;
  }

  #sdppara {
    /* padding: 10px; */
    font-size: 24px;
  }

  .custom-list {
    font-size: 24px;
    padding: 10px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 160%;
  }

  #sdpimgs img {
    height: auto;
    width: 100%;
  }


}

@media (max-width: 480px) {
  #sdp {
    font-size: 24px;
  }

  #sdppara {
    /* padding: 5px; */
    font-size: 24px;
  }

  .custom-list {
    font-size: 14px;
    margin: 5px 10px;
  }

  #sdpimgs img {
    height: auto;
    width: 100%;
  }

 
}