
#sdp{
    color: rgb(183, 234, 31);
  font-size: 30px;
  background-color: green;
  font-style: normal;
  width: 35%;
  padding: 15px;
  border-radius: 15px; /* Added this line to make the border radius curved */
  margin: 100px;
  text-align: center;
  margin-top: 50px;
}
/* #sdpimgs{
    
   
} */
/* .custom-list {
  font-size: 30px;
    list-style-type: none; 
    padding-left: 60px;
  } */
  
  .custom-list li {
    /* position: relative;
    margin-bottom: 10px;  */
    list-style-type: circle;
    background-color:khaki;
   width: 90%;
    color: black;
   border-radius: 15px;
   margin-left: 30px;

  }
  
  /* .custom-list li::before {
    content: '=>';
    position: absolute;
    left: -15px; 
    color: purple; 
  } */
   #sdppara{
  font-weight: 300px;
    font-size: 24px;
    font-family:  'Open Sans', sans-serif;
      margin: 100px;
    margin-bottom: 0px;
    text-align: justify;
text-justify: inter-word;
line-height: 160%;
margin-top: -40px;
   
   }